.container{
    margin-bottom: 100px;
}
.bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding:20px 40px;
}
.price{
    color: #ff136f;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #ff5898 0%, #ff136f 100%);
    color:#fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 15px;
}
.cat1{
    background-image: linear-gradient(to right, orange, yellow);
}
.cat2{
    background-image: linear-gradient(to right, rgb(204, 34, 162), rgb(216, 98, 190));
}
.cat3{
    background-image: linear-gradient(to right, rgb(53, 128, 240), rgb(20, 53, 243));
}
.categories h1{
    color: white;
}
.categories img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
}
.card-footer{
    border-top: none;
    background-color: white;
    box-shadow: 5px 5px 10px lightgray;
}
#subscribe{
    height: 300px;
}
#subscribe h6{
    color:gray;
}
footer{
    text-align: center;
}